
.header{
    width: 60%;
    min-width: 1000px;
    background-color: white;
    font-family:  'OTWelcomeRA', sans-serif;
}
.container{
    width: 100%;
}
.headerTop {
    text-align: right;
    color: gray;
    font-size: 13px;
    margin-top: 10px;
}
.headerTop a{
    text-decoration: none;
    color: #a1a1a1;
}

.headerTop a:hover{
    text-decoration: none;
    color:#101010;
    font-weight: bold;
}
.headerTop a {
    margin: 8px;
}
.headerTop img{
    width: 15px;
    height: 15px;
}

.headerTopLogo{
    width: 25%;
    margin: 15px auto;
}

.headerTopLogo img{
    width: 100%;
    margin: 0 auto;
}
.nav {
    padding: 0;
}
.navbar {
    height: 100%;
    width: 100%;   
    padding: 0; 
    
}
.collapse{
    height: 100%;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 2px;
}
.dropdown-menu {
    width: 100%;
}
.dropdown-menu a{
    text-align: center;
}
li, ul{
    width: 100%;
    text-align: center;
}

.headerNav{
    width: 100%;
    min-width: 1000px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-color: #F0EBE0;
}
.nav-item{
    height: 40px;
    line-height: 30px;
    vertical-align: middle;
}
.nav-item a:hover{
    color: #7F552E;
    font-weight: bold;
}
.dropdown-menu a:hover{
    background-color: #F0EBE0;
}
