*{
    /* border: 1px solid red; */
    margin: 0 auto;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.itemDetail{
    font-family:'OTWelcomeRA', sans-serif;
}
.itemRoad{
    font-size: 14px;
    margin-bottom: 30px;
    text-align: right;
}
.itemRoad a {
    color: black;
}
.itemRoad a:hover{
    text-decoration: none;
    color: black;
}
.itemDetail{
    margin-top: 50px;
}
.item {
    height: 550px;
    margin-bottom: 50px;
}
.carousel-item img{
    width: 100%;
    height: 500px;
}
ul {
    list-style: none;
}
li {
    display: inline-block;
}
.itemTable{
    width: 100%;
    height : 550px;
    padding-top: 30px;
    font-size: 14px;
}
.itemTable table {
    width: 100%;
    height: 80%;
}
.itemTable th {
    font-size: 20px;
}
.itemTable td, th {
    border-bottom: 1px solid #F0EBE0;
    padding-left: 10px;
}
.itemTable td:nth-child(1){
    width: 40%;
    color: rgb(100, 100, 100);  
}
#totalPrice {
    font-size: 20px;
    font-weight: bold;
    color: #7F552E;
}
/* .itemTable tr:nth-child(6), .itemTable tr:nth-child(7){
    background-color: #F0EBE0;
} */
#itemCount {
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
}
.countBtn{
    font-size: 22px;
    padding: 0px 10px;
    border: 1px solid gray;
    background-color: white;
}
.itemTableBtn {
    width: 100%;
}
#cartBtn{
    background-color: white;
    color: black;
    width: 49%;
    height: 50px;
    border: 1px solid #9A6C45;
}
#buyBtn{
    background-color:#9A6C45;
    color: white;
    width: 49%;
    height: 50px;
    border: 1px solid #9A6C45;
}
.detailTap{
    text-align: center;
}
.detailImg{
    width: 100%;
    height: 100%;
}
.nav-item {
    margin: 0;
}
.nav-tabs{
    justify-content: center;
}
.nav-item a{
    color: black;
}
.nav-item a:visited{
    color: black;
}
.nav-item a:hover{
    color:rgb(0, 0, 0);
    font-weight: bold;
}
.accordionBoard a{
    text-decoration: none;
    color: black;
}
.accordionBoard a:hover{
    text-decoration: none;
    color: black;
}
.accordionBoard a:visited{
    text-decoration: none;
    color: black;
}
.accordionBoardBody {
    color: black;
    padding: 10px;
    border: 1px solid rgb(202, 202, 202);
}
.reviewTable, .QnATable{
    width: 100%;
    text-align: left;
}
.reviewTable th, .QnATable th {
    text-align: left;
}
.reviewTable td:nth-child(1), .QnATable td:nth-child(1) {
    width: 10%;
}
.reviewTable td:nth-child(3), .QnATable td:nth-child(3){
    width: 15%;
}
.reviewTable td:nth-child(4), .QnATable td:nth-child(4){
    width: 15%;
}
.QnATable td:nth-child(5) {
    width: 10%;
}
.reviewTable th, .QnATable th{
    border-bottom: 1px solid black;
    padding: 10px;
}
.reviewTable td, .QnATable td{
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 10px;
}
.detailTap, .review, .itemQnA{
    margin-bottom: 200px;
}
