*{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}
.itemTitleS ul{
    display:inline-block;
}
.itemTitleS li{
    width: 150px;
    height: 50px;
    display:inline-block;
    list-style: none;
    border: 1px solid rgb(177, 177, 177);
    line-height: 50px;
}
.itemTitleS a{
    text-decoration: none;
    color: rgb(139, 79, 0);
}
.itemTitleS a:link{
    text-decoration: none;
    color: rgb(139, 79, 0);
}
.itemTitleS a:visited{
    text-decoration: none;
    color: rgb(139, 79, 0);
}
.itemTitleS a:hover{
    text-decoration: none;
    color: chocolate;
}
.itemTitle {
    border-bottom: 1px solid rgb(172, 172, 172);
    text-align: center;
}
.itemList{
    text-align: center;
}
.itemList img {
    width: 50px;
    height: 50px;
}
.itemPage {
    text-align: center;
}
.pagination {
    justify-content: center;
}

.pagination > li.active a{
    background: #9A6C45;
    background-color: #9A6C45;
}
.my.pagination > .active > a, 
.my.pagination > .active > a:hover, 
.my.pagination > .active > a:focus{
  background: #9A6C45;
  border-color: #9A6C45;
}
.page-link {
    color: #000; 
    background-color: #fff;
    border: 1px solid #ccc; 
  }
  
  .page-item.active .page-link {
   z-index: 1;
   color: #555;
   font-weight:bold;
   background-color: #f1f1f1;
   border-color: #ccc;
   
  }
  
  .page-link:focus, .page-link:hover {
    color: #000;
    background-color: #fafafa; 
    border-color: #ccc;
  }
