
*{
    /* border: 1px solid red; */
    margin: 0 auto;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
.main {
    margin-top: 30px;
}
.carousel-item img {
    height: 350px;
}
.mainAd .carousel-item img {
    height: 200px;
}
h2 {
    text-align: center;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s ease;
}
.overlayIn{
    margin-top: 60px;
}
.overlayIn img{
    margin-right: 10px;
    margin-left: 10px;
}
.mainBestItem{
    padding: 10px;
}
.mainBestItem1 a {
    width: 100%;
    height: 100%;
}
.mainBestItem1:hover .overlay{
    opacity: 0.8;
    background-color:rgb(150, 150, 150);
}
.mainNewItem1:hover .overlay{
    opacity: 0.8;
    background-color:rgb(150, 150, 150);
}
.mainBestTitle, .mainNewTitle {
    text-align: center;
    border-bottom: 1px solid rgb(189, 189, 189);
}
.mainBestItem img {
    width: 80px;
    height: 80px;   
}
.mainNewItem img {
    width: 80px;
    height: 80px;
}
.mainBestItem, .mainNewItem {
    text-align: center;
    margin-top: 30px;
}
.carousel-control-prev, .carousel-control-next {
    background: none;
    border: 0;
}
.BestPlus, .NewPlus {
    width: 10%;
    text-align: center;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 5px;
}
.BestPlus a, .NewPlus a {
    text-decoration: none;
    color: black;
}
.BestPlus a:hover, .NewPlus a:hover {
    text-decoration: none;
    color:chocolate;
}
#carouselExampleSlidesOnly {
    border: 1px solid rgb(189, 189, 189);
}
.mainInfo {
    border: 1px solid rgb(189, 189, 189);
}
.mainInfo1, .mainInfo2, .mainInfo3, .mainInfo4 {
    text-align: center;
    padding: 20px;
}
.mainInfo1, .mainInfo2, .mainInfo3 {
    border-right: 1px dashed rgb(206, 206, 206);
}
.mainInfo span {
    font-size: 14px;
}
.mainInfo a{
    text-decoration: none;
    color: black;
}
.mainInfo a:hover{
    text-decoration: none;
    color: black;
}
.mainInfo a:visited {
    text-decoration: none;
    color: black;
}
.mainInfo1 img {
    width: 30px;
    height: 30px;
}