
*{
    /* border: 1px solid red; */
    margin: 0 auto;
    padding: 0;
}

.main{
    width: 60%;
    min-width: 1102px;
    height: auto;
    font-family:'OTWelcomeRA', sans-serif;
    color: #101010;
}
.mainBanner .carousel-item img {
    width: 100%;
}
.c_item img{
    width: 100%;
    height: 500px;
}
.mainAd img {
    height: 200px;
}

.mainBestItem{
    padding: 10px;
}
.mainBestItem1 a {
    width: 100%;
    height: 100%;
}
.mainBestItem1:hover .overlay{
    opacity: 0.8;
    background-color:rgb(150, 150, 150);
}
.mainNewItem1:hover .overlay{
    opacity: 0.8;
    background-color:rgb(150, 150, 150);
}
.mainBestTitle, .mainNewTitle {
    text-align: center;
}
.mainBestItem img {
    width: 80px;
    height: 80px;   
}
.mainNewItem img {
    width: 80px;
    height: 80px;
}
.mainBestItem, .mainNewItem {
    text-align: center;
    margin-top: 30px;
}
.BestPlus, .NewPlus{
    text-align: center;
    width: 90px; height: 30px;
    line-height: 35px;
    vertical-align: middle;
    border: 1px solid #9A6C45;
    /* background-color: darkblue; */
}
.BestPlus a, .NewPlus a{
    /* border: 1px solid darkcyan; */
    width: 90px; height: 30px;
    color: #7F552E;
}
#bestplus a{
    width: 90px; height: 30px;
}
#bestplus:hover{
    text-decoration: none;
}
.BestPlus a:hover, .NewPlus a:hover{
    /* width: 90px; height: 30px;
    background-color:  darkcyan; */
    text-decoration: none;
}

.carousel-control-prev, .carousel-control-next {
    background: none;
    border: 0;
}
.BestPlus, .NewPlus {
    width: 10%;
    text-align: center;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 5px;
}
#carouselExampleSlidesOnly {
    border: 1px solid rgb(189, 189, 189);
}
.mainInfo {
    border: 1px solid rgb(189, 189, 189);
}
.mainInfo1, .mainInfo2 {
    margin: 20px;
}
.mainInfo1 {
    border-right: 1px dashed #9A6C45;
}
.mainInfo span {
    font-size: 14px;
}

.main{
    background-color: aliceblue;
    width: 60%;
    min-width: 1000px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #101010;
}

.BestPlus, .NewPlus{
    width: 100px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    border: 1px solid #7F552E;
    border-radius: 0;
        
}
.BestPlus a, .NewPlus a{
    color:#7F552E;
}
.BestPlus:hover, .NewPlus:hover{
    background-color: #7F552E;
}
.BestPlus a:hover, .NewPlus a:hover{
    width: 100px;
    height: 30px;
    text-decoration: none;


    font-weight: bold;
}
.blank{
    width: 80px;
    height: 30px;
}
