*{
    /* border: 1px solid red; */
    margin: 0 auto;
    padding: 0;
}
.mypage {
    margin-top: 30px;
}
ul {
    border: 1px solid gray;
    width: 70%;
}
li {
    list-style: none;
    padding: 20px;
}
.userList a {
    color: dimgray;
    text-decoration: none;
}
.userList a:visited{
    color: dimgray;
    text-decoration: none;
}
.userList a:hover{
    color: black;
    text-decoration:none;
}
.userInfo {
    text-align: center;
}
.userImg img{
    width: 200px;
    height: 200px;
    margin-top: 10%;
}
.userName {
    font-size: 22px;
}
.orderList table {
    width: 100%;
    height: 100px;
    text-align: center;
}
.orderList tr{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}