*{
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
th, td {
    padding: 10px;
    color: #7F552E;
    text-align: center;
    font-family: 'OTWelcomeRA';
}
.formBtn{
    width: 120px;
    height: 50px;
    text-align: center;
    background-color: #9a6c45;
    color: white;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    margin-bottom: 20px;
    margin-right: 5px;
    font-family: 'OTWelcomeRA';
}
thead {
    padding-top: 50px;
    background-color: #F0EBE0;
}
@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
