*{
    list-style: none;
}

a{
    text-decoration: none;
    color: #101010;
}

#sidebar{
    background-color:none;
    width: 150px;
    height: 200px;
    text-align: center;
}
.quick-side-bar{
    position: fixed;
    bottom: 3%;
    right: 13px;
    z-index: 7;
}

