*{
    /* border: 1px solid red; */
    margin: 0 auto;
    padding: 0;
    font-family: 'OTWelcomeRA';
}

.mybody{
    width: 60%;
min-width: 1000px;
max-width: 1000px;
}
.row{
    /* float: none; */
    align-items: stretch;
    margin-top: 30px;
}
.user{
    margin-top: 30px;
    margin-right: 30px;
}
.userList{
    height: 300px;
    width: 150px;
}
.userList a{
    color: #7F552E;
}
.userList a:visited{
    color: #7F552E;
    text-decoration: none;
}
.userList a:hover{
    color: #7F552E;
    text-decoration:none;
    font-weight: bold;
}
.member_data {
    padding-right: 16px;
}
.member_data table {
    width: 100%;
    height: 200px;
    /* border: 1px solid rgb(187, 187, 187); */
    text-align: center;
}
.member_data tr td{
    border-top: 1px solid #9A6C45;
    border-bottom: 1px solid #9A6C45;
}
.member_data tr th{
    border-top: 1px solid #9A6C45;
    border-bottom: 1px solid #9A6C45;
    color: #7F552E;
}
.member_data th {
    width: 20%;
}
.member_data td {
    width: 80%;
    text-align: left;
}
.member_data span {
    margin-left: 10px;
}
.userImg{
    padding: auto;
}
.userImg img{
    width: 100px;
    height: 100px;
    margin-top: 10%;
    border-radius: 70%;
    overflow: hidden;
    object-fit: cover;
}
.cart{
    margin: 0;
    width: 80%;
}

.product_list table{
    border-top: 1px solid #9A6C45;
    width: 100%;
    /* height: 400px; */
    text-align: center;
}
.product_list tr:nth-child(1) {
    height: 40px;
    border-bottom:1px solid #9A6C45;
    color: #7F552E;
}
.item{
    height: 70px;
}
.product_img img{
    width: 50px;
    height: 50px;
}
.product_list tr,.cartTable1 td {
    border-bottom: 1px solid rgb(167, 167, 167);
}
.cont{
   margin-bottom: 80px;
}
@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.myli {
    list-style: none;
    padding: 20px;
    width: 100%;
    background-color: #7F552E;
    text-align: center;
}
.backbt{

    margin-top: 30px;
    color: white;
}
.bt{
    border:solid 0.3px;
    border-color: #7F552E;
    background-color: white;
    color: #7F552E;
    padding: 0 10px;
    padding-top: 6px;
    height: 30px;
}