*{
    /* border: 1px solid red; */
    margin: 0 auto;
    padding: 0;
    font-family: 'OTWelcomeRA';
}
.mybody{
    width: 60%;
min-width: 1000px;
max-width: 1000px;
}
.row{
    /* float: none; */
    align-items: stretch;
    margin-top: 30px;
}
.user{
    margin-top: 30px;
    margin-right: 30px;
}
.userList{
    height: 300px;
    width: 150px;
}
.userList a{
    color: #7F552E;
}
.userList a:visited{
    color: #7F552E;
    text-decoration: none;
}
.userList a:hover{
    color: #7F552E;
    text-decoration:none;
    font-weight: bold;
}
@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}