table, td, th {
    border-collapse : collapse;
}
.commpanystory{
    margin: auto;
}
.commpanystory img{
    width: 100%;
    height: 100%;
}
.commpanystory table{
    width: 800px;
}
.commpanystory td{
    margin: 0;
}
iframe{
    width: 100%;
}